@mixin flex-center($justify, $align, $direction) {
  display:flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

#root {
  @include flex-center(center, center, column);
}